* {
    font-size: 1.25rem;
}

.container {
    background-color: #FFF4C7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "article"
        "footer";
    min-height: 100vh;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

header {
    margin: 0%;
    background-color: #719D96;
    background-size: 100%;
    width: 100%;
    text-align: center;
}

header > img {
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: auto;
    max-height: 80px;
}

body {
    background-color: #FFF4C7;
    font-family: 'Gamja Flower', sans-serif;
    margin: 0 auto;
    text-shadow: 1px 1px 0 #484848;
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


nav {
    grid-area: nav;
    background-color: #26877F;
    max-height: 80px;
}

nav ul {
    list-style: none;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: unset;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
    max-height: 80px;
}

nav li {
    text-align: center;
    font-weight: bold;
}

nav a {
    display: grid;
    text-decoration: none;
    color: #E9FAF4;
}

section {
    display: flex;
}

article {
    flex: 1;
    display: block;
}

.article_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.article-item {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#red-article {
    color: #B53434;
}

#green-article {
    color: #26877F;
}

#white-article {
    color: #d4c0e0;
}

img {
    width: 10%;
    height: auto;
    margin-top: 1.75rem;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.promo {
    display: grid;
}

.promo a {
    position: absolute;
    text-decoration: none;
    background-color: rgb(0, 0, 0.7);
    opacity: 0.75;
    z-index: 1;
    grid-row: 1;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
}

.promo a span {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.promo img {
    margin-top: 0rem;
    width: 100%;
    max-width: 1920px;
    flex: 1;
}

.promo h1 {
    grid-row: auto;
    text-align: center;
    color: #87DCD5;
}

.promo span {
    grid-row: auto;
    text-align: center;
    color: #C55E54;
    margin-top: 2px;
}

footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    justify-items: stretch;
    margin: 0%;
    grid-template-columns: repeat(3, 1fr);
    background-color: #719D96;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.footer_logo {
    grid-column: 1/ span 1;
}

.copyright {
    grid-column: 2/ span 2;
}

footer img {
    margin-left: 5rem;
    margin-top: .5rem;
    width: auto;
    max-height: 70px;
}

footer p {
    margin-left: 5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: auto;
    max-height: 70px;
}

/* About us */
.description img {
    margin-top: 0rem;
    width: 100%;
    max-width: 1920px;
    flex: 1;
}

.description h1 {
    text-align: center;
    margin-left: 0,25rem;
    margin-right: 0.25rem;
    color: #26877F;
}

.description p {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    color: #C55E54;
}

/* Contact */
.contact img {
    margin-top: 0rem;
    width: 100%;
    max-width: 1920px;
    flex: 1;
}

.contact h1 {
    text-align: center;
    margin-left: 0,25rem;
    margin-right: 0.25rem;
    color: #26877F;
}

.contact p {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    color: #C55E54;
}